doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    title NOTIFICATION OF RECEIPT OF PETITION, U.S. Tax Court Electronic Filing and Case Management System
    style= css
  body
    .page-container
      img.logo(src=logo)
      h1.text-center United States Tax Court
      p.text-center 
        | 400 Second Street, N.W.
        br
        | Washington D.C. 20217

      p.text-center= todaysDate
      h2.text-center.clear NOTIFICATION OF RECEIPT OF PETITION

      p.float-left.width-half= caseTitle
      p.float-right Docket Number: #{docketNumber} 

      p.clear.margin-top-80 The Court received and filed your petition on #{receivedAtFormatted} and served it on respondent on #{servedDate}.
      p.margin-bottom-20
        | (X) Filing Fee Paid.
        br
        | (X) Request for Place of Trial at #{preferredTrialCity}.

      .info-box
        h3 Your Docket Number: #{docketNumber}
        p Your docket number is displayed. Please use this docket number on all papers and correspondence that you send to the Tax Court. Do not include your Social Security or Taxpayer Identification numbers on any documents you file with the Court, except on Form 4.

      .info-box
        h3 Internet Access:
        p 
          | To obtain further information about proceeding in the Tax Court, please visit 
          b.link www.ustaxcourt.gov
          |  and select “Taxpayer Information”.

      .info-box
        h3 Change of Address:
        p 
          | You must notify the Clerk of the Court if you change your address. If you filed your petition in paper, see Tax Court Form 10, Notice of Change of Address, under “Forms” on the Tax Court’s Website at 
          b.link www.ustaxcourt.gov
          |. If you filed your petition electronically, you may update your address under the “Case Information” tab in your case online. Failure to notify the Clerk of the Court of a change of your address can mean you do not receive notices and documents essential to your case and can lead to dismissal of your case.

      p.float-right.width-third 
        | Stephanie A. Servoss
        br
        | Clerk of the Court

      hr.clear.margin-top-80

    .address
      | #{name}
      br
      | #{address1}
      br
      if address2
        | #{address2}   
        br
      if address3
        | #{address3}   
        br
      | #{city}, #{state}  #{postalCode}
      if !address3
        br
      | #{countryName}