doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    title Address Page
    style= css
  body
    .docket Docket #{docketNumberWithSuffix}
    .address
      | #{name}
      br
      | #{address1}
      br
      if address2
        | #{address2}   
        br
      if address3
        | #{address3}   
        br
      | #{city}, #{state}  #{postalCode}
      if !address3
        br
      | #{countryName}