p.please-change Please change the contact information for #{name} on the records of the Court.
div
  table
    thead
      tr
        th Old Contact Information
    tbody
      tr
        if showOnlyPhoneChange
          td #{oldData.phone}
        else
          td
            if oldData.inCareOf
              div c/o #{oldData.inCareOf}
            div #{oldData.address1}
            div #{oldData.address2}
            div #{oldData.address3}
            div
              if oldData.city 
                | #{oldData.city}, 
              | #{oldData.state} #{oldData.postalCode}
            if oldData.country
              div #{oldData.country}
            if showAddressAndPhoneChange
              div.extra-margin-top #{oldData.phone}
  br
  table
    thead
      tr
        th New Contact Information
    tbody
      tr
        if showOnlyPhoneChange
          td #{newData.phone}
        else
          td
            if newData.inCareOf
              div c/o #{newData.inCareOf}
            div #{newData.address1}
            div #{newData.address2}
            div #{newData.address3}
            div
              if newData.city 
                | #{newData.city}, 
              | #{newData.state} #{newData.postalCode}
            if newData.country
              div #{newData.country}
            if showAddressAndPhoneChange
              div.extra-margin-top #{newData.phone}
