.court-header
  .us-tax-court-seal
  h1 United States Tax Court
  p.heading-address.margin-top-0
    | 400 Second Street, N.W.
    br
    | Washington, D.C. 20217
    br
    br 
    | #{headerDate}

  .clear

.case-information
  #case-caption
    p #{caseTitle}
    p.space #{caseCaptionExtension}
  .clear
  #caption
    p.space.margin-top-0 v.
    p Commissioner of Internal Revenue
    p.space Respondent
  #docket-number Docket Number #{docketNumberWithSuffix}
  .clear

.clear
  .info-box.info-box-trial
    .info-box-header
      p Trial At:
    .info-box-content
      p
        if trialInfo.courthouseName
          | #{trialInfo.courthouseName}
        br
        | #{trialInfo.address1}
        if trialInfo.address2
          br
          | #{trialInfo.address2}
        br
        | #{trialInfo.city}, #{trialInfo.state} #{trialInfo.postalCode}

  .info-box.info-box-judge
    .info-box-header 
      p Judge:
    .info-box-content
      p #{trialInfo.judge.name}

h3.text-bold NOTICE SETTING CASE FOR TRIAL

p This case is set for trial at the Trial Session beginning at #{trialInfo.startTime} on #{trialInfo.startDate}. The calendar for that Session will be called at that date and time, and the parties are expected to be present and to be prepared to try the case.  
  b Your failure to appear may result in dismissal of the case and entry of decision against you.
p The Court will set the time for each trial at the end of the calendar call. In setting trial times the Court attempts to accommodate the parties, but the final determination of trial times rests in the Court’s discretion.
p 
  span Information about presenting a case in the Tax Court can be found at 
  a(target="_blank" href="www.ustaxcourt.gov") www.ustaxcourt.gov
  span .
p The parties should contact each other promptly and cooperate fully so that the necessary steps can be taken to comply with these requirements. 
  b Your failure to cooperate may also result in dismissal of the case and entry of decision against you.
 
.signature
  p 
    | Stephanie A. Servoss
    br
    | Clerk of the Court
