.court-header
  .us-tax-court-seal
  h1 United States Tax Court
  p.heading-address.margin-top-0
    | 400 Second Street, N.W.
    br
    | Washington, D.C. 20217

  .clear

.case-information
  #case-caption
    p #{caseTitle}
    p.space #{caseCaptionExtension}
  .clear
  #caption
    p.space.margin-top-0 v.
    p Commissioner of Internal Revenue
    p.space Respondent
  #docket-number Docket Number #{docketNumberWithSuffix}
  .clear

h3.text-bold STANDING PRE TRIAL ORDER

p
  b The attached Notice Setting Case for Trial notifies the parties that this case is calendared for trial at the trial session beginning on #{trialInfo.fullStartDate}.

p 
  b.text-underline Communication Between the Parties.
  |  The parties shall begin discussing settlement and/or preparation of a stipulation of facts as soon as practicable. Valuation cases and reasonable compensation cases are generally susceptible of settlement, and the Court expects the parties to negotiate in good faith with this goal in mind. All minor issues should be settled so that the Court can focus on the issue(s) needing a Court decision. If a party has trouble communicating with another party or complying with this Order, the affected party should promptly advise the Court in writing, with a copy to each other party, or request a conference call for the parties and the trial Judge.

p 
  b.text-underline Continuances.
  |  Continuances (i.e., postponement softrial) will be granted only in exceptional circumstances. See Rule 133, Tax Court Rules of Practice and Procedure. (The Court's Rules are available at 
  a(target="_blank" href="www.ustaxcourt.gov") www.ustaxcourt.gov
  | .) Even joint motions for continuance are not granted automatically.

p 
  b.text-underline Sanctions.
  |  The Court may impose appropriate sanctions, including dismissal, for any unexcused failure to comply with this Order. See Rule 131(b). Such failure may also be considered in relation to sanctions against and disciplinary proceedings involving counsel. See Rule 202(a).

p 
  b.text-underline Electronic Filing (eFiling)
  |  eFiling is required for most documents (except the petition) filed by parties represented by counsel in cases in which the petition is filed on or after July 1, 2010. Petitioners not represented by counsel may, but are not required to, eFile. For more information about eFiling and the Court's other electronic services, see 
  a(target="_blank" href="www.ustaxcourt.gov") www.ustaxcourt.gov
  | . 


div(style='margin-left: 20px; margin-bottom:90px')
  p To help the efficient disposition of all cases on the trial calendar:

  p 
    b.text-underline 1. Stipulation.
    |  It is ORDERED that all facts shall be stipulated (agreed upon in writing) to the maximum extent possible. All documents and written evidence shall be marked and stipulated in accordance with Rule 91(b), unless the evidence is to be used only to impeach(discredit) awitness. Either party may preserve objections by noting them in the stipulation. If a complete stipulation of facts is not ready for submission at the start of the trial or when otherwise ordered by the Court, and if the Court determines that this is due to lack of cooperation by either party, the Court may order sanctions against the uncooperative party.

  p 
    b.text-underline 2. Trial Exhibits.
    |  It is ORDERED that any documents or materials which a party expects to use (except solely for impeachment) if the case is tried, but which are not stipulated, shall be identified in writing and exchanged by the parties at least 14 days before the first day of the trial session. The Court may refuse to receive in evidence any document or material that is not so stipulated or exchanged, unless the parties have agreed otherwise or the Court so allows for good cause shown.

h3.text-center.text-bold(style='page-break-after:always') Served #{footerDate}

div(style='margin-left: 20px')
  p 
    b.text-underline 3. Pretrial Memoranda.
    |  It is ORDERED that, unless a basis of settlement (resolution of the issues) has been reached, each party shall prepare a Pretrial Memorandum containing the information in the attached form. Each party shall serve on the other party and file the Pretrial Memorandum not less than 14 days before the first day of the trial session.

  p 
    b.text-underline 4. Final Status Reports.
    |  It is ORDERED that, if the status of the case changes from that reported in a party's Pretrial Memorandum, the party shall submit to the undersigned and to the other party a Final Status Report containing the information in the attached form. A Final Status Report maybe submitted to the Court in paper format, electronically by following the procedures in the "Final Status Report" tab on the Court's Website or by fax sent to 202-521-3378. (Only the Final Status Report maybe sent to this fax number; any other documents will be discarded.) The report must be received by the Court no later than 3p.m. eastern time on the last business day (normally Friday) before the calendar call. The Final Status Report must be promptly submitted to the opposing party by mail, email, or fax, and a copy of the report must be given to the opposing party at the calendar call if the opposing party is present.

  p 
    b.text-underline 5.Witnesses.
    |  It is ORDERED that witnessess hall be identified in the Pretrial Memorandum with a brief summary of their anticipated testimony. Witnesses who are not identified will not be permitted to testify at the trial with out a showing of good cause.

  p 
    b.text-underline 6. Expert Witnesses.
    |  It is ORDERED that unless otherwise permitted by the Court, expert witnessess hall prepare a written report which shall be submitted directly to the undersigned and served upon each other party at least 30 days before the first day of the trial session. An expert witness's test imony may be excluded for failure to comply with this Order and Rule 143(g).

  p 
    b.text-underline 7. Settlements.
    |  It is ORDERED that if the parties have reached a basis of settlement, astipulated decision shall be submitted to the Court prior to or at the call of the calendar on the first day of the trial session. Additional time for submitting astipulated decision will be granted only where it is clear that all parties have approved the settlement. The parties shall be prepared to state for the record the basis of settlement and the reasons for delay. The Court will specify the date by which the stipulated decision and any related settlement documents will be due.

  p 
    b.text-underline 8. Time of Trial.
    |  It is ORDERED that all parties shall be prepared for trial at anytime during the trial session unless a specific date has been previously set by the Court. Your case may or may not be tried on the same date as the calendar call, and you may need to return to Court on a later date during the trial session. Thus, it may be beneficial to contact the Court in advance. Within 2 weeks before the start of the trial session, the parties may jointly contact the Judge's chamber store quest a time and date certain for the trial. If practicable, the Court will attempt to accommodate the request, keeping in mind other scheduling requirements and the anticipated length of the session. Parties should jointly inform the Judge as early as possible if they expect trial to require 3 days or more.

  p 
    b.text-underline 9. Service of Documents.
    |  It is ORDERED that every pleading, motion, letter, or other document (with the exception of the petition and the post trial briefs, see Rule 151(c)) submitted to the Court shall contain a certificate of service as specified in Rule21(b), which shows that the party has given a copy of that pleading, motion, letter or other document to all other parties.

.signature.text-center
  p 
    | (Signed) #{trialInfo.judge.name}
    br
    | Trial Judge

br
div(style='page-break-after:always')

p(style='margin-left:393px; margin-bottom:74px;') 
  | Trial Calendar: #{trialInfo.city}, #{trialInfo.state}
  br
  span(style='margin-left: 50px') Date: #{trialInfo.fullStartDate}

p.text-center(style='margin-bottom:56px')
  b PRETRIAL MEMORANDUM FOR
  |  (Petitioner/Respondent)
  br
  | Please type or print legibly
  br
  | (This form may be expanded as necessary)

div(style='margin-bottom:29px')
  p(style='width: 60%; float: left;')
    b.text-underline NAME OF CASE
    | :
  p(style='width: 39%; float: left;')
    b.text-underline DOCKET NO(S).
    | :
  .clear

p(style='margin-bottom:2px')
  b.text-underline ATTORNEYS
  | :
  
div(style='margin-bottom:33px')
  p.margin-top-0(style='width: 49%; float: left; margin-right: 1%;')
    | Petitioner: ____________________________________
    br
    | Tel No.: ______________________________________
  p.margin-top-0(style='width: 49%; float: left;') 
    | Respondent: ____________________________________
    br
    | Tel No.: ________________________________________
  .clear

p(style='margin-bottom:2px')
  b.text-underline AMOUNTS IN DISPUTE
  | :
p.margin-top-0(style='margin-bottom:52px')
  b.text-underline Year(s)/Period(s)
  |  
  b.text-underline(style='margin-left: 95px;') Deficiencies/Liabilities
  |  
  b.text-underline(style='margin-left: 95px;') Additions/Penalties
  
p
  b.text-underline STATUS OF CASE
  | :
p(style='margin-bottom:40px')
  span Probable Settlement________ 
  span(style='margin-left: 30px;') Probable Trial________ 
  span(style='margin-left: 30px;') Definite Trial________

p(style='margin-bottom:30px')
  b.text-underline CURRENT ESTIMATE OF TRIAL TIME
  | : __________________________________________

p(style='margin-bottom:63px')
  b.text-underline MOTIONS YOUR EXPECT TO MAKE
  | :
  br
  | (Title and brief description)

p(style='margin-bottom:2px')
  b.text-underline STATUS OF STIPULATION OF FACTS
  | :
p.margin-top-0(style='margin-bottom:45px')
  span Completed________  
  span(style='margin-left: 15px;') In Process________

p
  b.text-underline ISSUES
  | :

br
div(style='page-break-after:always')

p(style='margin-bottom:88px')
  b.text-underline WITNESS(ES) YOU EXPECT TO CALL
  | :
  br
  | (Name and brief summary of expected testimony)

p(style='margin-bottom:97px')
  b.text-underline SUMMARY OF FACTS
  | :
  br
  | (Attach separate pages, if necessary, to inform the Court of facts in chronological narrative form)

p(style='margin-bottom:91px')
  b.text-underline BRIEF SYNOPSIS OF LEGAL AUTHORITIES
  | :
  br
  | (Attach separate pages, if necessary, to discuss fully your legal position)

p(style='margin-bottom:91px')
  b.text-underline EVIDENTIARY PROBLEMS
  | :


div(style='margin-bottom:61px')
  p(style='width: 40%; float: left;')
    | Date: _________________________
  p(style='width: 59%; float: left;')
    | ________________________________________
    br
    | Petitioner/ Respondent
  .clear


div
  p(style='width: 15%; float: left;')
    | Trial Judge:

  p(style='width: 70%; float: left;')
    b
      | #{trialInfo.judge.name}
      br
      | United States Tax Court
      br
      | 400 Second Street, N.W.
      br
      | Washington, D.C. 20217
      br
      | (202) 521-0700
  .clear