doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    title Notice of Docket Change
    style= styles
  body
    .page-container
      .page-header
        img.logo(src=logo)
        h1.text-center United States Tax Court

    p.float-left.width-half= caseTitle
    p.float-right Docket Number: #{docketNumber}

    h2.text-center Notice of Docket Change

    .info-box
      h3 Docket Entry No. #{docketEntryIndex} has been changed
      p
        if filingsAndProceedings
          | 
          b “#{filingsAndProceedings.before}”
          | has been changed to 
          b “#{filingsAndProceedings.after}”
          | .
        if filingParties
          | The filing party/parties has been changed from 
          b “#{filingParties.before}”
          | to 
          b “#{filingParties.after}”
          | .
