doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    title Notice of Docket Change
    style= css
  body
    .page-container
      .page-header
        img.logo(src=logo)
        h1.text-center.min-height-100 United States Tax Court

        .min-height-100.clear
          p.float-left.width-half= caseTitle
          p.float-right Docket Number: #{docketNumber}

        h2.text-center Notice of Docket Change

      .info-box.margin-top-80
        h3 Docket Entry No. #{docketEntryIndex} has been changed
        p
          if filingsAndProceedings.before != filingsAndProceedings.after
            | 
            b “#{filingsAndProceedings.before}”
            |  has been changed to 
            b “#{filingsAndProceedings.after}”
            | .
          if filingParties.before != filingParties.after
            | The filing party/parties has been changed from 
            b “#{filingParties.before}”
            |  to 
            b “#{filingParties.after}”
            | .

      p.float-right.width-third 
        | Stephanie A. Servoss
        br
        | Clerk of the Court