doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    title Case Inventory Report
    style= styles
  body
    .page-container
      .page-header
        img.logo(src=logo)
        h1.text-center United States Tax Court
        h2.text-center Case Inventory Report
        p.text-center= reportTitle
      table
        thead
          tr
            th Docket
            th Case title
            if showStatusColumn
              th Case status
            if showJudgeColumn
              th Judge
        tbody
          each formattedCase in formattedCases
            tr
              td.no-wrap #{formattedCase.docketNumber}#{formattedCase.docketNumberSuffix}
              td= formattedCase.caseTitle
              if showStatusColumn
                td= formattedCase.status
              if showJudgeColumn
                td= formattedCase.associatedJudge
